blockquote {
  border: 0 solid $dark-coal;
  display: block;
  background: $white;
  padding: 50px 50px 15px 50px;
  margin: 40px 0;
  position: relative;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: $dark-orange;
  text-align: justify;
  border-left: 8px solid $dark-coal;
  -moz-box-shadow: 2px 2px 15px $shadow;
  -webkit-box-shadow: 2px 2px 15px $shadow;
  box-shadow: 2px 2px 15px $shadow;

  &::before {
    content: '“';
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: $yellow;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  &::after {
    content: '';
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: $yellow;

    &:hover {
      color: $orange;
    }
  }

  em {
    font-style: italic;
  }

  p {
    margin: 0 0 0 10px;
  }

  span {
    display: block;
    text-align: right;
    color: $color-gray;
    font-style: italic;
    font-weight: bold;
    margin-top: 1em;
  }
}
