/** 
 * Variables
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rowdies:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

// Colors
$blue: #263853;
$green: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$dark-orange: #e76f51;
$light-coal: #333;
$dark-coal: #2b2b2b;
$panel: #f4f4f4;
$panel-hover: #e4e4e4;
$white: white;
$shadow: #ccc;

$color-base: rgb(11, 58, 97);
$color-primary: #5d93ff;
$color-secondary: $orange;
// $color-secondary: #f7a046;

$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 87%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$typographic-font-text: 'Titillium Web', sans-serif;
$typographic-font-header: 'Rowdies', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 18px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(
  16 * ($typographic-root-font-size / 100) * $typographic-base-line-height
);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
